* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --deepBlack: #211e1f;
  --ylw: #fabc13;
  --lightgry: #e6e7e8;
  --darkgry: #939598;
  --power3: 0.24s cubic-bezier(0.84, 0, 0.15, 1) all;
  --linear: 0.2s ease-in-out all;
  --unit: 12.5%;
  --gutter: clamp(1rem, calc(1rem + ((1vw - 0.285rem) * 2.7972)), 3rem);
  --widthOne: calc((var(--unit) * 1) - var(--gutter));
  --widthTwo: calc((var(--unit) * 2) - var(--gutter));
  --widthThree: calc((var(--unit) * 3) - var(--gutter));
  --widthFour: calc((var(--unit) * 4) - var(--gutter));
  --widthFive: calc((var(--unit) * 5) - var(--gutter));
  --widthSix: calc(var(--unit) * 6);
  --widthSeven: calc(var(--unit) * 7);
  --widthEight: calc(var(--unit) * 8);

  font-family: "Lato", Tahoma, sans-serif;
  font-size: 87.5%;
  font-kerning: normal;
  margin-top: 5rem;
  background: var(--deepBlack);
  scroll-behavior: smooth;
}

h1 {
  font-size: clamp(32px, calc(1.5rem + ((1vw - 3.5px) * 3.4862)), 70px);
  text-transform: uppercase;
  line-height: 1;
  font-weight: 900;
  color: white;
  perspective: 200px;
  backface-visibility: visible;
  transform-style: preserve-3d;
  transform-origin: "center bottom";
}

h1 div {
  perspective: 200px;
  backface-visibility: visible;
  transform-style: preserve-3d;
}

h1 em,
h1.ylw {
  color: var(--ylw);
  font-style: normal;
}

header {
  position: relative;
  padding-top: 6%;
  display: flex;
  margin-right: calc(8.3% - 0.75rem);
  align-items: flex-start;
  flex-wrap: wrap;
}

header #quoteHeader {
  width: 91%;
  margin: 0 auto;
  color: white;
}

header #quoteHeader p {
  margin-top: 1rem;
}

header #headerTagline {
  width: 110px;
  color: white;
  position: absolute;
  left: 4.5%;
  z-index: 3;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.4;
  top: 0;
  top: 4.65%;
}

header #headerTagline * {
  perspective: 200px;
  backface-visibility: visible;
  transform-style: preserve-3d;
}

header #headerVideo {
  position: relative;
  height: 40vh;
  margin-bottom: 4rem;
}

header #desktopWordMark {
  display: none;
}

header blockquote {
  color: white;
}

header #wordMark {
  width: calc((8.3% * 11) - 0.75rem);
  position: absolute;
  z-index: 10;
  right: 4.5%;
  bottom: -1rem;
}

header video {
  width: 100%;
  opacity: 1;
  height: 40vh;
  z-index: -1;
  position: relative;
  object-fit: cover;
}

h2 {
  font-size: 11px;
  line-height: 1.4;
  font-weight: 900;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

h3,
nav > a {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  text-decoration: none;
  text-transform: uppercase;
}

img {
  object-fit: cover;
}

nav > a {
  font-size: 11px;
  letter-spacing: 0.06em;
}

li {
  list-style-type: none;
  margin-bottom: 0.3rem;
}

li em {
  font-weight: 700;
  text-transform: capitalize;
  font-style: normal;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

a#toTopButton {
  display: none;
}

a#toTopButtonMobile {
  background: var(--ylw);
  display: inline-block;
  position: fixed;
  right: 4.9%;
  bottom: 10%;
  z-index: 200;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}

a#toTopButtonMobile img {
  filter: brightness(10) saturate(0);
  transform: rotate(-90deg) scale(1.7);
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background: var(--deepBlack);
  position: fixed;
  z-index: 100;
  top: 0;
  margin: auto;
  left: 0;
  padding: 1.5rem 4.9% 1.5rem 0;
}

nav a {
  color: white;
  display: grid;
  line-height: 1;
}

nav a span {
  grid-column: 1;
  grid-row: 1;
}

nav a span:last-child {
  color: var(--ylw);
}

nav a + nav a > * {
  transform: perspective(100px);
  transform-style: preserve-3d;
}

nav a:not(:last-child) {
  margin-right: 3rem;
}

#loaderCover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 400;
}

footer {
  position: relative;
  margin: 8rem auto 6.5rem auto;
  width: 91%;
  max-width: 1500px;
  color: var(--darkgry);
}

footer::before {
  content: "";
  background: var(--lightgry);
  height: 1.5px;
  width: 100%;
  top: -1.5rem;
  display: block;
  position: absolute;
}

footer img {
  width: 200px;
  margin-bottom: 1rem;
  opacity: 0.46;
}

footer br {
  margin-bottom: 0.25rem;
}

footer p {
  width: 100%;
  font-size: 0.85rem;
  max-width: 500px;
}

footer a {
  border-bottom: 1px solid var(--deepBlack);
  color: var(--darkgry);
  text-decoration: none;
}

.workImageContainer {
  will-change: transform;
  perspective: 200px;
  backface-visibility: visible;
  transform-style: preserve-3d;
}

.workImageContainer.col {
  overflow: hidden;
}

img {
  height: 100%;
}

.workImageContainer.col img {
  object-fit: cover;
  will-change: transform;
  perspective: 200px;
  backface-visibility: visible;
  transform-style: preserve-3d;
}

.col {
  width: 40%;
}

a.caratLink {
  display: inline-block;
  text-decoration: none;
  color: var(--ylw);
  font-weight: 700;
  position: relative;
  transition: all 0.2s ease-in-out;
}

a.caratLink::after {
  content: "";
  background: url("./../assets/caratIcon.svg");
  height: 13px;
  width: 13px;
  right: -1.25rem;
  top: 2px;
  background-size: 100%;
  display: block;
  position: absolute;
}

blockquote {
  font-size: 14px;
  line-height: 1.4;
  width: 100%;
  color: white;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  position: relative;
}

/*#upjohn {
  display: none;
}*/

#companyContainer {
  margin-bottom: 12rem;
}

#companyContainer .companySection:not(#upjohn) h1:not(.ylw) {
  color: var(--lightgry);
}

.companySection {
  margin: 10% 0;
}

.workImageContainer {
  overflow: hidden;
}

.workImageContainer img {
  width: 100%;
  height: auto;
}

#clothespin img{
  width: var(--widthSix);
}

#yellowdot img{
  width: var(--widthSix);
}

#quoteUpjohn {
  width: var(--witdhSix)
}

#arm img{
  width: var(--widthSix);
}

#egg img{
  width: var(--widthFour);
}

#man img{
  width: var(--widthTwo);
}

.upjohnContainer-2{
  display: flex;
}

#autocam {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#autocam .col {
  display: flex;
  flex-direction: column;
}

#autocam .col:first-child {
  /* width: 50%; */
  width: var(--widthFour);
  height: 40vh;
  padding-right: calc(var(--gutter) / 2);
  margin-left: var(--gutter);
}

#autocam .col:nth-child(2) {
  width: var(--widthFour);
  padding-top: var(--unit);
  height: 40vh;
  padding-left: calc(var(--gutter) / 2);
  margin-right: var(--gutter);
}

#titleAutocam {
  margin-bottom: 1rem;
}

#factory {
  height: 11vh;
  margin-bottom: var(--gutter);
}

#copper {
  height: 13vh;
}

#notebook {
  height: 25vh;
  margin-bottom: var(--gutter);
}

#apple {
  height: 22vh;
}

#birds {
  height: 29vh;
  margin-bottom: var(--gutter);
}

#autocam .col:nth-child(3) {
  width: 75%;
  margin-top: var(--gutter);
  margin-left: auto;
}

#french {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#french .col {
  display: flex;
  flex-direction: column;
}

#french .col:first-child {
  height: 50vh;
  flex-grow: 1;
  padding-right: calc(var(--gutter) / 2);
}

#french .col:nth-child(2) {
  height: 50vh;
  flex-grow: 1;
  padding-left: calc(var(--gutter) / 2);
  margin-right: var(--gutter);
}

#french .col:nth-child(3) {
  width: 100%;
  flex-direction: row;
  margin-left: var(--gutter);
  margin-right: var(--gutter);
}

#dog {
  width: 50%;
}

#queen {
  width: 50%;
}

#jerry {
  height: 30vh;
  margin-left: var(--gutter);
  object-fit: contain;
}

#scatter {
  height: 10vh;
}

#meat {
  height: 31vh;
}

#opera {
  display: flex;
  height: 50vh;
  flex-wrap: wrap;
  flex-direction: column;
}

#opera h1 {
  text-align: right;
}

#opera .col {
  display: flex;
  flex-direction: column;
  /* margin-right: var(--gutter); */
}

#opera .col img,
#quoteOpera,
#headingOpera {
  margin-bottom: var(--gutter);
}

#opera .col:first-child {
  width: var(--widthFour);
  height: 100%;
}

#sword {
  height: 15vh;
}

#opera .col:nth-child(2) {
  width: 50%;
  margin-bottom: var(--gutter);
  height: 68px;
  padding-right: var(--gutter);
  flex-direction: row;
}

#opera .col:nth-child(2) img {
  width: 50%;
}

#blue {
  margin-bottom: 0 !important;
  height: 39vh;
}

#orange {
  margin-left: var(--gutter);
}

#opera .col:first-child {
  margin-right: var(--gutter);
}

#opera .col:last-child {
  width: 50%;
  position: relative;
}

#quoteOpera {
  width: 100%;
  position: absolute;
  width: calc(100vw - var(--gutter));
  bottom: calc(-27% - var(--gutter));
  left: -50vw;
}

/* Herman Mobile Styles */

#herman {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  /* height: 100vh; */
}

#red {
  height: 15vh;
}

#fish {
  height: 24vh;
}

#corn {
  height: 34vh;
}

#thankyou {
  height: 17vh;
}

#sofa {
  margin-left: var(--gutter);
  margin-bottom: var(--gutter);
  height: 18%;
}

#titleHerman {
  display: flex;
}

#herman .col {
  display: flex;
  height: unset;
  flex-direction: column;
}

#herman img {
  margin-bottom: var(--gutter);
}

#herman .col:first-child {
  width: var(--widthFour);
  margin-right: var(--gutter);
}

#herman .col:first-child img {
  height: auto;
}

#herman .col:nth-child(2) {
  width: var(--widthFour);
}

#corn {
  margin-top: var(--gutter);
}

#herman .col:last-child {
  width: 100%;
}

#visitSectionContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  color: var(--darkgry);
}

#visitSectionContainer > div {
  width: 91%;
  max-width: 1850px;
  max-width: 1850px;
  margin: auto;
}

#visitSectionContainer > div > div {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

#visitSectionContainer #visitInfo {
  display: flex;
  flex-direction: column;
}

#visitSectionContainer #visitInfo blockquote .quoteLine:first-child {
  margin-bottom: 0.25rem;
}

#visitSectionContainer #visitInfo blockquote .quoteLine:last-child {
  margin-top: 0.25rem;
}

#visitSectionContainer #visitInfo #galleryParking {
  width: calc((8.3% * 9) - 0.75rem);
}

#visitSectionContainer #galleryMap {
  flex-grow: 1;
  background: reds;
  margin-top: 1rem;
  height: 320px;
}

#visitSectionContainer #galleryParking {
  flex-grow: 1;
}

#behindExhibit {
  display: flex;
  margin-top: 10%;
  flex-wrap: wrap;
}

#behindExhibit #behindExhibitHeadingContainer {
  align-self: flex-start;
  flex-grow: 1;
  width: calc((8.3% * 6) - 0.75rem);
  margin-top: 6rem;
  order: -1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
}

#behindExhibit #brightformatAbout {
  align-self: flex-start;
  width: 20%;
  flex-grow: 1;
}

#behindExhibit #brightformatAbout img {
  transition: var(--linear);
}

#behindExhibit #brightformatAbout img:hover {
  opacity: 0.5;
  transition: var(--linear);
}

#behindExhibit #ferrisAbout {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 15%;
}

#behindExhibit #ferrisAbout > div {
  width: 100%;
}

#behindExhibit #ferrisAbout > div p:first-of-type {
  margin-bottom: 10%;
}

#behindExhibit #ferrisAbout > div img {
  width: 100%;
}

#behindExhibit h1 {
  text-align: right;
  margin: 0;
}

#behindExhibit #archivesAbout {
  width: 20%;
  flex-grow: 1;
  min-width: 200px;
}

#behindExhibit #archivesAbout img {
  width: 30%;
  max-width: 140px;
  margin-bottom: 1rem;
}

#behindExhibitHeadingContainer {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  margin-bottom: 2.5rem;
}

#workPopup {
  border: 2px red solid;
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  width: 400px;
  height: 400px;
  left: 0;
  display: none;
  margin: auto;
  bottom: 0;
  right: 0;
}

#workPopup article {
  height: 400px;
  width: 200px;
}

.splitLine {
  overflow: hidden;
}

.mapboxgl-marker svg ellipse,
.mapboxgl-marker svg circle {
  display: none;
}

.mapboxgl-ctrl {
  background: transparent !important;
  box-shadow: none !important;
  margin: 0 1.5rem 1.5rem 0 !important;
}

.mapboxgl-ctrl .mapboxgl-ctrl-logo,
.mapboxgl-ctrl .mapboxgl-ctrl-attrib-inner,
.mapboxgl-ctrl .mapboxgl-ctrl-attrib.mapboxgl-compact {
  display: none !important;
}

.mapboxgl-ctrl .mapboxgl-ctrl-attrib.mapboxgl-compact {
  display: none !important;
}

.mapboxgl-ctrl .mapboxgl-ctrl-icon:hover {
  opacity: 0.87;
}

.mapboxgl-ctrl .mapboxgl-ctrl-zoom-in {
  background: var(--ylw);
  margin-bottom: 1rem;
}

.mapboxgl-ctrl .mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
  background-image: url("../img/zoomInIcon.svg") !important;
  background-size: 47%;
  background-position: center center;
}

.mapboxgl-ctrl .mapboxgl-ctrl-zoom-out {
  background: var(--ylw);
}

.mapboxgl-ctrl .mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  background-image: url("../img/zoomOutIcon.svg") !important;
  background-size: 41%;
  background-position: center center;
}

@media only screen and (min-width: 660px) {
  #quoteHeader {
    width: calc((8.3% * 3) - 0.75rem);
    max-width: 360px;
    color: white;
  }
  a#toTopButtonMobile {
    display: none;
  }
  a#toTopButton {
    background: var(--ylw);
    display: inline-block;
    position: fixed;
    right: 4.9%;
    bottom: 10%;
    z-index: 200;
    padding: 1rem 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
  }
  header {
    height: 80vh;
    padding-top: 0;
  }
  header #wordMark {
    bottom: -60px;
    right: -200px;
    top: unset;
  }
  header #headerTagline {
    margin-left: calc(8.3% - 0.75rem);
    bottom: -160px;
    right: -230px;
    left: unset;
    top: unset;
    transform: translateY(50%);
  }
  header #headerVideo {
    width: calc((8.3% * 10) - 0.75rem);
    position: absolute;
  }
  header #headerVideo {
    height: 83%;
  }
  header #headerVideo video {
    height: 100%;
    width: 100%;
  }
  header img {
    right: -17%;
    max-width: 460px;
    top: -3.5%;
  }

  .col {
    width: unset;
  }

  /* Autocam Desktop Styles */

  #autocam {
    height: 100vh;
    margin-left: var(--widthOne);
  }

  #autocam .col {
    flex-grow: 1;
  }

  #autocam .col:not(:last-child) {
    margin: 0 var(--gutter) var(--gutter) 0;
  }

  #autocam .col:first-child img:first-of-type,
  #autocam .col:nth-child(2) img:first-of-type,
  #autocam .col:nth-child(3) img:first-of-type {
    margin-bottom: var(--gutter);
  }

  #notebook {
    height: 60%;
  }

  #copper {
    height: 30%;
  }

  #factory {
    height: 30%;
  }

  #birds {
    height: 60%;
  }

  #quoteAutocam {
    /* width: var(--widthThree); */
    width: 100%;
    max-width: 330px;
  }

  #apple {
    height: 60%;
  }

  #autocam .col:first-child {
    width: var(--widthTwo);
    height: 70%;
    margin-bottom: 0;
    padding: 0;
    margin-right: var(--gutter);
  }

  #autocam .col:nth-child(2) {
    width: var(--widthTwo);
    align-self: flex-end;
    height: 70%;
    padding: 0;
    margin-right: var(--gutter);
  }

  #autocam .col:nth-child(3) {
    width: var(--widthThree);
    margin: 0;
    height: 70%;
  }

  /* Opera Desktop Styles */
  #opera {
    height: 100vh;
    flex-direction: row;
  }

  #opera .col {
    height: unset !important;
    flex-grow: 1;
  }

  #opera .col:first-child {
    width: var(--widthTwo);
  }

  #opera .col:nth-child(2) {
    width: var(--widthTwo);
    flex-direction: column;
    height: 80% !important;
  }

  #opera .col:nth-child(2) img {
    width: 100%;
    height: auto;
  }

  #orange {
    width: 60%;
    align-self: flex-end;
  }

  #quoteOpera {
    width: var(--widthTwo);
  }

  #blue {
    margin-bottom: var(--gutter);
    height: 40%;
  }

  #opera .col:not(:last-child) {
    margin-right: var(--gutter);
  }

  #opera .col:last-child {
    width: var(--widthThree);
  }

  #quoteOpera {
    position: relative;
    bottom: unset;
    margin-top: var(--gutter);
    width: var(--widthThree);
    left: unset;
  }

  /* Herman Desktop Styles */

  #herman {
    height: 100vh;
  }

  #herman .col {
    flex-direction: column;
    flex-grow: 1;
    height: 80%;
  }

  #herman img {
    height: 100%;
  }

  #herman .col:not(:last-child) {
    margin-right: var(--gutter);
  }

  #quoteHerman {
    width: 50%;
    margin-top: 1rem;
    max-width: 330px;
  }

  #herman .col:first-child {
    width: var(--widthTwo);
    align-self: flex-end;
    height: 70%;
  }
  #herman .col:first-child img {
    height: 100%;
  }

  #herman .col:nth-child(2) {
    width: var(--widthTwo);
    align-self: flex-start;
  }

  #herman .col:last-child {
    width: var(--widthFour);
    align-self: flex-end;
  }

  #behindExhibit {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  #behindExhibit #behindExhibitHeadingContainer {
    align-items: flex-start;
    margin-top: 0;
    flex-grow: unset;
    justify-content: flex-start;
    order: 0;
    margin-bottom: 0;
    width: calc(8.3% - 0.75rem);
    margin-right: 2rem;
    flex-direction: row;
  }
  #behindExhibit #brightformatAbout {
    align-self: flex-start;
    width: 20%;
    flex-grow: 1;
    max-width: 375px;
  }
  #behindExhibit #ferrisAbout {
    width: 25%;
    margin-right: 2%;
    flex-grow: 1;
    max-width: 375px;
  }
  #behindExhibit #ferrisAbout > div {
    width: 100%;
  }
  #behindExhibit #ferrisAbout > div img {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  #behindExhibit h1 {
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    text-align: right;
  }
  #behindExhibit #archivesAbout {
    width: 20%;
    margin-right: 11%;
    flex-grow: 1;
    display: flex;
    max-width: 355px;
  }
  #behindExhibit #archivesAbout > div {
    align-self: center;
  }
  #behindExhibit #archivesAbout img {
    width: 30%;
    max-width: 140px;
    margin-bottom: 1rem;
  }
  #visitSectionContainer {
    margin-top: 36rem;
  }
  #visitSectionContainer #visitInfo {
    flex-wrap: wrap;
    position: relative;
  }
  #visitSectionContainer #visitInfo #visitHeading {
    width: calc((8.3% * 6) - 0.75rem) !important;
    display: flex;
    order: 0;
  }
  #visitSectionContainer #visitInfo #galleryName {
    display: flex;
    width: calc((8.3% * 4) - 0.75rem) !important;
    justify-content: space-between;
    order: 2;
  }
  #visitSectionContainer #visitInfo #galleryName blockquote {
    width: calc((8.3% * 2) - 0.75rem);
  }
  #visitSectionContainer #visitInfo > div:not(#galleryMap) {
    width: calc((8.3% * 2) - 0.75rem);
  }
  #visitSectionContainer #visitInfo #galleryMap {
    order: 1;
    order: 3;
    position: absolute;
    right: 0;
    width: calc((8.3% * 6) - 0.75rem);
  }
  #visitSectionContainer #visitInfo #galleryHours {
    order: 4;
  }
  #visitSectionContainer #visitInfo #galleryParking {
    flex-grow: unset;
    order: 5;
  }
  footer {
    margin-top: 0%;
  }
}
